# Catch-all for hidden files and directories
.*

# Environments
venv*
.vscode
.idea

# Byte-compiled / optimized / DLL files
*__pycache__

# Distribution / packaging
*.egg-info/
*pip-wheel-metadata/

# Project-specific
salvageFormat_mine.py
shape_predictor_68_face_landmarks.dat
fun_*
